:root {
  --clr-green: #82D318;
  --alt-green: #CBFF00;

  --clr-grey: #81899D;
  --alt-grey: #7C8499;
}

.ml-auto {
  margin-left: auto;
}

body {
  background-color: white;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.87rem 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--clr-grey);
}

.nav-items span {
  cursor: pointer;
}

.nav-items span:hover {
  color: black;
}

.nav-item:hover {
  color: black;
}

.nav-logo {
  width: 218px;
  cursor: pointer;
}

.nav-menu {
  display: none;
  position: relative;
}

.nav-menu span {
  position: absolute;
  right: 0px;
  height: 3px;
  background: black;
}

.nav-menu span:nth-child(1){
  top: 33.33%;
  width: 32px;
}

.nav-menu span:nth-child(2){
  top: 66.66%;
  width: 16px;
}

@media (max-width: 1200px) {
  .nav-items {
    display:none;
  }
  .nav-menu {
    display: inherit;
  }
}