/* Resets */

* {
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

/* Utils */

:root {
	--clr-green: #82d318;
	--alt-green: #cbff00;

	--clr-grey: #81899d;
	--bg-grey: #fafbfc;
	--alt-grey: #7c8499;
}

.reg-font {
	font-size: 1rem;
}

.bg-white {
	background-color: white;
}

.flex {
	display: flex;
}

.container {
	min-height: 100vh;
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	overflow-y: overlay;
}

body {
	margin: 0;
	background-color: var(--bg-grey);
	font-stretch: normal;
	line-height: 1.64;
	letter-spacing: normal;
	font-family: Montserrat, Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Helvetica, Arial, sans-serif;
}

/* Nav Component */

header {
	position: absolute;
	top: 0;
	left: 0;
	height: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	padding: 1rem 15px;
}

.nav-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-left: auto;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--clr-grey);
}

.nav-items span {
	cursor: pointer;
}

.nav-items span:hover {
	color: black;
}

.nav-items i {
	margin-right: 0.5rem;
}

.nav-logo-container {
	display: flex;
	align-items: center;
}

.nav-logo {
	height: 47px;
	width: 218px;
	cursor: pointer;
}

.nav-menu {
	display: none;
	position: relative;
}

.nav-menu span {
	position: absolute;
	right: 0px;
	height: 3px;
	background: black;
}

.nav-menu span:nth-child(1) {
	top: 33.33%;
	width: 32px;
}

.nav-menu span:nth-child(2) {
	top: 66.66%;
	width: 16px;
}

@media (max-width: 1200px) {
	.nav-items {
		display: none;
	}
	.nav-menu {
		display: inherit;
	}
}

/* Spinner */

.spinner-box {
	margin: auto;
}

.three-quarter-spinner {
	width: 50px;
	height: 50px;
	border: 3px solid var(--clr-green);
	border-top: 3px solid transparent;
	border-radius: 50%;
	animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}
